@using FamilyBudget.Models.View.Enums
@model FamilyBudget.Models.View.Details.HomeProjectDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<form class="pt-1 pb-3">
        <div class="form-inline">
            <input type="text" id="inputCategory" data-projectId="@Model.FilterViewModel.SelectedProject" 
            class="form-control col-6 ml-auto" name="category" placeholder="Category" value="@Model.FilterViewModel.SelectedCategory"/>

            <select type="submit" class="form-control col-sm-1 ml-2 mr-auto" name="finType"
                    asp-for="@Model.FilterViewModel.SelectedFinType"
                    asp-items="@Model.FilterViewModel.FinTypes"
                    onchange="this.form.submit()"></select>
        </div>
    </form>

    @if (!Model.isEmpty)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a class="btn btn-sm @(Model.SortViewModel.categorySort ? "btn-primary" : "btn-light")"
                            asp-action="Details"
                            asp-route-id="@(Model.FilterViewModel.SelectedProject)"
                            asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
                            asp-route-fintype="@(Model.FilterViewModel.SelectedFinType)"
                            asp-route-sortmodel="@(FinOperationSortModelEnum.Category)"
                            asp-route-sorttype="@(!Model.SortViewModel.sortModelChanged(FinOperationSortModelEnum.Category) ? 
                                                FinOperationSortDirEnum.Descending : Model.SortViewModel.CurrentSortDir)">
                            Category
                            @if (@Model.SortViewModel.categorySort)
                            {
                                <i class="fa fa-fw @(Model.SortViewModel.isAscending ? "fa-sort-asc" : "fa-sort-desc")"></i>
                            }
                            else
                            {
                                <i class="fa fa-fw fa-sort"></i>
                            }
                        </a>
                    </th>
                    <th>
                        <a class="btn btn-sm @(Model.SortViewModel.valueSort ? "btn-primary" : "btn-light")"
                            asp-action="Details"
                            asp-route-id="@(Model.FilterViewModel.SelectedProject)"
                            asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
                            asp-route-fintype="@(Model.FilterViewModel.SelectedFinType)"
                            asp-route-sortmodel="@(FinOperationSortModelEnum.Value)"
                            asp-route-sorttype="@(!Model.SortViewModel.sortModelChanged(FinOperationSortModelEnum.Value) ? 
                                                FinOperationSortDirEnum.Descending : Model.SortViewModel.CurrentSortDir)">
                            Value
                            @if (@Model.SortViewModel.valueSort)
                            {
                                <i class="fa fa-fw @(Model.SortViewModel.isAscending ? "fa-sort-asc" : "fa-sort-desc")"></i>
                            }
                            else
                            {
                                <i class="fa fa-fw fa-sort"></i>
                            }
                        </a>
                    </th>
                    <th>
                        <a class="btn btn-sm @(Model.SortViewModel.createTimeSort ? "btn-primary" : "btn-light")"
                            asp-action="Details"
                            asp-route-id="@(Model.FilterViewModel.SelectedProject)"
                            asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
                            asp-route-fintype="@(Model.FilterViewModel.SelectedFinType)"
                            asp-route-sortmodel="@(FinOperationSortModelEnum.CreateTime)"
                            asp-route-sorttype="@(!Model.SortViewModel.sortModelChanged(FinOperationSortModelEnum.CreateTime) ? 
                                                FinOperationSortDirEnum.Descending : Model.SortViewModel.CurrentSortDir)">
                            CreateTime
                            @if (@Model.SortViewModel.createTimeSort)
                            {
                                <i class="fa fa-fw @(Model.SortViewModel.isAscending ? "fa-sort-asc" : "fa-sort-desc")"></i>
                            }
                            else
                            {
                                <i class="fa fa-fw fa-sort"></i>
                            }
                        </a>
                    </th>
                    <th>
                        <a class="btn btn-sm @(Model.SortViewModel.finTypeSort ? "btn-primary" : "btn-light")"
                            asp-action="Details"
                            asp-route-id="@(Model.FilterViewModel.SelectedProject)"
                            asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
                            asp-route-fintype="@(Model.FilterViewModel.SelectedFinType)"
                            asp-route-sortmodel="@(FinOperationSortModelEnum.FinType)"
                            asp-route-sorttype="@(!Model.SortViewModel.sortModelChanged(FinOperationSortModelEnum.FinType) ? 
                                                FinOperationSortDirEnum.Descending : Model.SortViewModel.CurrentSortDir)">
                            FinType
                            @if (@Model.SortViewModel.finTypeSort)
                            {
                                <i class="fa fa-fw @(Model.SortViewModel.isAscending ? "fa-sort-asc" : "fa-sort-desc")"></i>
                            }
                            else
                            {
                                <i class="fa fa-fw fa-sort"></i>
                            }
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (FinOperation fo in Model.finOperations)
                {
                    <tr>
                        <td class="col-3">@fo.Category.Name</td>
                        <td class="col-3">@fo.Value</td>
                        <td class="col-3">
                            @if (@fo.CreateTime.Date.Day == DateTime.Now.Day) {<label>Сегодня</label>}
                            else if (@fo.CreateTime.Date.Day == DateTime.Today.AddDays(-1).Day) {<label>Вчера</label>}
                            else if (@fo.CreateTime.Date.Year == DateTime.Now.Year) {<label>@fo.CreateTime.ToString("d MMMM")</label>}
                            else{<label>@fo.CreateTime.ToString("d MMMM yyyy")</label>}
                        </td>
                        <td class="col-3">@fo.FinType</td>
                    </tr>
                }
            </tbody>
        </table>


        <ul class="pagination justify-content-center">
            <li class="page-item @(!Model.PageViewModel.HasPreviousPage ? "disabled" : "")">
                <a asp-action="Details"
                   asp-route-id="@(Model.FilterViewModel.SelectedProject)"
                   asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
                   asp-route-fintype="@(Model.FilterViewModel.SelectedFinType)"
                   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                   asp-route-sortorder="@(Model.SortViewModel.CurrentSortModel)"
                   class="page-link">
                    Previous
                </a>
            </li>
            <li class="page-item @(!Model.PageViewModel.HasNextPage ? "disabled" : "")">
                <a asp-action="Details"
                   asp-route-id="@(Model.FilterViewModel.SelectedProject)"
                   asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
                   asp-route-fintype="@(Model.FilterViewModel.SelectedFinType)"
                   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                   asp-route-sortorder="@(Model.SortViewModel.CurrentSortModel)"
                   class="page-link">
                    Next
                </a>
            </li>
        </ul>
    }
    else
    {
        <h4 class="text-center p-5">No FinOperation found.</h4>
    }


@section scripts
{
        <script type="text/javascript">  
            $(document).ready(function () {  
                $("#inputCategory").autocomplete({  
                    source: function (request, response) {
                        $.ajax({  
                            url: "/Categories/SearchCategories/", 
                            data: { 
                                "id": $("#inputCategory").attr("data-projectId"),
                                "term": request.term
                            },  
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return item;
                                }))
                            }
                        });  
                    },
                    select: function (event, ui) {
                        this.value = ui.item.value;
                        this.form.submit();
                    }
                });  
            });  
        </script>  
}


