@model FamilyBudget.Models.View.Details.HomeProjectDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<form method="get">
    <div class="form-inline">
        <label class="font-weight-bolder mr-3">Category name:</label>
        <input name="category" value="@Model.FilterViewModel.SelectedCategory" class="form-control col-sm-4 mr-auto" />

        <label class="font-weight-bolder mr-3">FinType:</label>
        <select type="submit" class="form-control col-sm-1 mr-auto" name="finType"
                asp-for="@Model.FilterViewModel.SelectedFinType"
                asp-items="@Model.FilterViewModel.FinTypes"
                onchange="this.form.submit()"></select>
    </div>
</form>
@if (!Model.isEmpty)
{
<table class="table">
    <tr>
        <th>
            <a asp-action="Details"
               asp-route-sortorder="@(Model.SortViewModel.CategorySort)"
               asp-route-category="@(Model.FilterViewModel.SelectedCategory)">Category </a>
        </th>
        <th>
            <a asp-action="Details"
               asp-route-sortorder="@(Model.SortViewModel.ValueSort)">Value </a>
        </th>
        <th>
            <a asp-action="Details"
               asp-route-sortorder="@(Model.SortViewModel.CreateTimeSort)">CreateTime </a>
        </th>
        <th>
            <a asp-action="Details"
               asp-route-sortorder="@(Model.SortViewModel.FinTypeSort)"
               asp-route-fintype="@(Model.FilterViewModel.SelectedFinType)">FinType </a>
        </th>
    </tr>
    @foreach (FinOperation u in Model.finOperations)
    {
        <tr><td>@u.Category.Name<td>@u.Value</td><td>@u.CreateTime</td><td>@u.FinType</td></tr>
    }
</table>


<ul class="pagination justify-content-center d-flex p-2">
    <li class="page-item @(!Model.PageViewModel.HasPreviousPage ? "disabled" : "")">
        <a asp-action="Details"
           asp-route-id="@(Model.FilterViewModel.SelectedProject)"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           asp-route-sortorder="@(Model.SortViewModel.Current)"
           class="page-link">
            Previous
        </a>
    </li>
    <li class="page-item @(!Model.PageViewModel.HasNextPage ? "disabled" : "")">
        <a asp-action="Details"
           asp-route-id="@(Model.FilterViewModel.SelectedProject)"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           asp-route-sortorder="@(Model.SortViewModel.Current)"
           class="page-link">
            Next
        </a>
    </li>
</ul>
}
else
{
<h4 class="text-center p-5">No FinOperation found</h4>
}
