@model FamilyBudget.Models.View.Edit.HomeProjectEditModel

@{
    ViewData["Title"] = "Edit";
}
@*
<h2>Добавление книг</h2>

<form asp-controller="Projects" asp-action="Edit">
    <div id="booksBlock">
        <div class='bookItem'>
            <h4>Книга № 1</h4>
            <div>
                <label>Название</label>
                <div>
                    <input asp-for="categories[0].Name" />
                </div>
            </div>
        </div>
    </div>
    <a class="addLink">Добавить новый элемент</a>
    <p><input type="submit" value="Добавить" /></p>
</form>

@section scripts {
    <script>

    $(function () {
    var i = 0;
    $('.addLink').click(function()
    {
    i++;
    let html2Add= `<input type="text"
    id="categories_${i}" name="categories[${i}].Name" />  `;
    $('#booksBlock').append(html2Add);
    })
    })
    </script>
    }*@

<h1>Edit</h1>

<div class="row">
    <div class="container-fluid">
        <form asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.projectId">
            <div class="form-group">
                <label asp-for="@Model.project.Name" class="control-label"></label>
                <input asp-for="@Model.project.Name" class="form-control" placeholder="Project name" />
                <span asp-validation-for="@Model.project.Name" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <h4 class="text-center">Categories</h4>
                    <a class="addCategory pull-right bi bi-plus-circle" style="cursor: pointer"></a>

                    <div id="categoryList" class="list-group">
                        @for (var i = 0; i < Model.categories.Count; i++)
                        {

                            <div id="@Model.categories[i].Id">
                                <a id="category_@Model.categories[i].Id" categoryId="@Model.categories[i].Id" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <span class="flex-grow-1 list-group-item-action">
                                        <input asp-for="@Model.categories[i].Name" class="form-control"/>
                                    </span>

                                    <i id="#deleteCategory_@Model.categories[i].Id" class="categoryDelete bi bi-x-lg ml-3" style="cursor: pointer"></i>
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-sm-8">
                    <h4 class="text-center">ProjectMembers</h4>
                    <a class="addProjectMember pull-right bi bi-plus-circle" style="cursor: pointer"></a>
                    <div id="projectMemberList" class="list-group">

                        @for (var i = 0; i < Model.projectMembers.Count; i++)
                        {
                            <div id="@Model.projectMembers[i].Id">
                                <a id="projectMember-@Model.projectMembers[i].Id" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <span class="flex-grow-1 row ">
                                        <input asp-for="@Model.projectMembers[i].NameInProject" class="form-control col-lg-5 mr-2" value="@Model.projectMembers[i].NameInProject" />
                                        <input asp-for="@Model.projectMembers[i].User.Email" class="form-control col-lg-6" value="@Model.projectMembers[i].User.Email" />
                                    </span>

                                    <i id="@Model.projectMembers[i].Id" class="projectMemberDelete bi bi-x-lg ml-3" style="cursor: pointer"></i>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <input class="btn btn-primary mr-2" type="submit" value="Save" />
                <a class="btn btn-secondary" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

@section scripts
    {
<script type="text/javascript">

    const randomId = () => {
    return Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
    };
    
    const generateCategory = (id,name) => {
    return `
    <a id="category_${id}" categoryId="${id}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    <span class="flex-grow-1 list-group-item-action">
    <input type="text" class="form-control" id="categories_${id}" name="categories[${id}].Name" value="${name}" /> 
    </span>

    <i id="deleteCategory_${id}" class="categoryDelete bi bi-x-lg ml-3" style="cursor: pointer"></i>
    </a>`;
    }

    const generateProjectMember = (id,name,email) => {
    return  `<a id="projectMember-${id}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    <span class="flex-grow-1 row ">
    <input asp-for="${name}" class="form-control col-lg-5 mr-2" value="${name}"/>
    <input asp-for="${email}" class="form-control col-lg-6" value="${email}"/>
    </span>

    <i id="${id}" class="projectMemberDelete bi bi-x-lg ml-3" style="cursor: pointer"></i>
    </a>`;


    }

    $(document).ready(function () {
    var i = 6;
    $(".addCategory").click(function (e) {
    e.preventDefault();
    let list = document.querySelector('#categoryList');
    id = i++;
    var name = id;

    var div = document.createElement('div');
    div.innerHTML = generateCategory(id,name);
    list.insertBefore(div,list.firstElementChild);

    $("#deleteCategory_" + id).click(function (e) {
    e.preventDefault();
    $("#category_" + id).remove();
    });
    });

    $(".addProjectMember").click(function (e) {
    e.preventDefault();
    let list = document.querySelector('#projectMemberList');

    var id = "-1";
    var name = "Not unique! id = " + id;
    var email = "email";

    var div = document.createElement('div');
    div.innerHTML = generateProjectMember(id,name,email);
    list.insertBefore(div,list.firstElementChild);

    $(".projectMemberDelete").click(function (e) {
    e.preventDefault();
    $("#projectMember-" + this.id).remove();
    });
    });

    $("#deleteCategory").click(function (e) {
    e.preventDefault();
    $("#category_" + this.id).remove();
    });

    $(".projectMemberDelete").click(function (e) {
    e.preventDefault();
    $("#projectMember-" + this.id).remove();
    });
    });
</script>
    }
