@model FamilyBudget.Models.View.Edit.HomeProjectEditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div id="projectEditModal" class="modal fade">
    <div id="projectEditDialogContent" class="modal-dialog modal-dialog-centered modal-lg"></div>
</div>


<div class="row">
    <div class="container-fluid">
        <form asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.projectId">
            <div class="form-group">
                <label asp-for="@Model.project.Name" class="control-label"></label>
                <input asp-for="@Model.project.Name" class="form-control" placeholder="Project name" />
                <input type="hidden" asp-for="@Model.project.Id" />
                <input type="hidden" asp-for="@Model.project.OwnerId" />
                <span asp-validation-for="@Model.project.Name" class="text-danger"></span>
            </div>      
        </form>
            <div class="row">
                <div class="col-4">
                    <h4 class="text-center">Categories</h4>
                    <i class="categoryCreate pull-right bi bi-plus-circle" style="cursor: pointer"></i>

                    <div id="categoryList" class="list-group">
                        @foreach (var item in @Model.categories)
                        {
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <span class="p-2 projectListItem list-group-item-action flex-grow-1">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </span>

                                <i id="@item.Id" class="bi bi-pencil categoryEdit mr-2" style="cursor: pointer"></i>
                                <i id="@item.Id" class="bi bi-x-lg categoryDelete" style="cursor: pointer"></i>
                            </a>
                        }
                    </div>
                </div>
                <div class="col-8">
                    <h4 class="text-center">ProjectMembers</h4>
                    <a class="projectMemberCreate pull-right bi bi-plus-circle" style="cursor: pointer"></a>

                    <div id="projectMemberList" class="list-group" count="@Model.projectMembers.Count">

                        @foreach (var item in @Model.projectMembers)
                        {
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <span class="p-2 projectListItem list-group-item-action flex-grow-1">
                                    @Html.DisplayFor(modelItem => item.NameInProject)
                                </span>

                                <i id="@item.Id" class="bi bi-pencil projectMemberEdit mr-2" style="cursor: pointer"></i>
                                <i id="@item.Id" class="bi bi-x-lg projectMemberDelete" style="cursor: pointer"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <input class="btn btn-primary mr-2" type="submit" value="Save" />
                <a class="btn btn-secondary" asp-action="Index">Back</a>
            </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
       
        $.ajaxSetup({ cache: false });

        // ProjectMember

        $(".projectMemberCreate").click(function (e) {
            e.preventDefault();
            $.get("Modal/ProjectMemberCreate/" + this.id, function (data) {
                $('#projectEditDialogContent').html(data);
                $('#projectEditModal').modal('show');
            });
        });

        $(".projectMemberEdit").click(function (e) {
            e.preventDefault();
            $.get("Modal/ProjectMemberEdit/" + this.id, function (data) {
                $('#projectEditDialogContent').html(data);
                $('#projectEditModal').modal('show');
            });
        });

        $(".projectMemberDelete").click(function (e) {
            e.preventDefault();
            $.get("Modal/ProjectMemberDelete/" + this.id, function (data) {
                $('#projectEditDialogContent').html(data);
                $('#projectEditModal').modal('show');
            });
        });

        // Category

        $(".categoryCreate").click(function (e) {
            e.preventDefault();
            $.get("Modal/CategoryCreate/", function (data) {
                $('#projectEditDialogContent').html(data);
                $('#projectEditModal').modal('show');
            });
        });

        $(".categoryEdit").click(function (e) {
            e.preventDefault();
            $.get("Modal/CategoryEdit/" + this.id, function (data) {
                $('#projectEditDialogContent').html(data);
                $('#projectEditModal').modal('show');
            });
        });

        $(".categoryDelete").click(function (e) {
            e.preventDefault();
            $.get("Modal/CategoryDelete/" + this.id, function (data) {
                $('#projectEditDialogContent').html(data);
                $('#projectEditModal').modal('show');
            });
        });
        
    </script>
}