@model IEnumerable<FamilyBudget.Models.Project>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Index</h1>

<div id="projectModal" class="modal fade">
    <div id="projectDialogContent" class="modal-dialog modal-dialog-centered"></div>
</div>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
           asp-action="Details" asp-route-id="@item.Id">
            <span class="p-2 projectListItem list-group-item-action flex-grow-1">
                @Html.DisplayFor(modelItem => item.Name)
            </span>

            <i id="@item.Id" class="bi bi-wallet2  fa-lg addCategoryCharge mr-2"></i>
            <i id="@item.Id" class="bi bi-bag-plus fa-lg addCategoryIncome mr-2"></i>
            <i id="@item.Id" class="bi bi-x-lg projectDelete"></i>
        </a>
    }
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".addCategoryCharge").click(function (e) {
                e.preventDefault();
                $.get("Modal/AddCategoryCharge/" + this.id, function (data) {
                    $('#projectDialogContent').html(data).removeClass('modal-lg');
                    $('#projectModal').modal('show');
                });
            });
        })
    </script>

    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".addCategoryIncome").click(function (e) {
                e.preventDefault();
                $.get("Modal/AddCategoryIncome/" + this.id, function (data) {
                    $('#projectDialogContent').html(data).removeClass('modal-lg');
                    $('#projectModal').modal('show');
                });
            });
        })
    </script>

    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".projectDelete").click(function (e) {
                e.preventDefault();
                $.get("Modal/ProjectDelete/" + this.id, function (data) {
                    $('#projectDialogContent').html(data).addClass('modal-lg');
                    $('#projectModal').modal('show');
                });
            });
        })
    </script>
}
